<div>
    <button id="saveButton" type="button" class="btn btn-outline-success" style="display: none;padding: 2px 7px;margin:5px;" (click)="saveOnClick()">Save Changes</button>
    <button id="appButton" type="button" class="btn btn-outline-primary" style="display: none;padding: 2px 7px;margin:5px;" (click)="approveOnClick()">Approve</button>
    <button id="fixButton" type="button" class="btn btn-outline-secondary" style="padding: 2px 7px;margin:5px;" (click)="fixOnClick()">Fix Alignment</button>
    <button id="discardButton" type="button" class="btn btn-outline-danger" style="display: none;padding: 2px 7px;margin:5px;" (click)="discardOnClick()">UNDO</button>
    <button id="export" type="button" class="btn btn-outline-success" style="padding: 2px 7px;margin:5px;" (click)="exportOnClick()">Export Alignments</button>
  <!-- <a id="saveButton" style="display: none;" href="#" class="next" (click)="saveOnClick()">Save Changes</a>
  <a id="appButton"  style="display: none;"  href="#" class="next" (click)="approveOnClick()">Approve</a>
  <a id="fixButton" href="#" class="next" (click)="fixOnClick()">Fix Alignment</a>
  <a id="discardButton"  style="display: none;" href="#" class="next" (click)="discardOnClick()">Discard Changes</a> -->
</div>

<div class="container"  *ngIf = "display">
  <div class="row">

      <div class="col-sm-5">
          
        </div>

      <div class="col-sm-6" style="margin-top: 20px">
        <app-radar-spinner
        [animationDuration]="1000"
        [size]="100"
        [color]="'blue'">
      </app-radar-spinner>
      </div>
      <div class="col-sm-1">
          
        </div>
  </div>
</div>


<div style="text-align: left" *ngIf = "!display">
  <a id="interlinearLink"  style="cursor:pointer; width:fit-content; color: black; display:block;text-decoration-line:underline" (click)="interlinearOnClick()">{{Interlinear}}</a>
 <horizontal-card style="display:inline-block;text-align:center" *ngFor="let horizontalCard of Statuses" [horizontalCard]="horizontalCard">  
 </horizontal-card>
 </div>

<!-- <div id="grid" class="content" style="margin-left: 240px; width:800px;height:470px;overflow-y: scroll;overflow-x: scroll;"></div> -->
<br>
<a *ngIf = "!display" id="verticalORgrid"  style="cursor:pointer;padding-bottom:0; margin-right: 400px;text-align: right; color: black; display:block;text-decoration-line:underline" (click)="verticalORgridOnClick()">{{verticalORgrid}}</a>
<div id="grid" class="content" style="margin-left: 300px; width:800px;height:470px;"></div>

 <div id="verticalInterlinear"  class="content" style="margin-left: 540px; width:800px;display: none;">
  <vertical-interlinear *ngIf="gridDataJson" [bilinearData]="gridDataJson" > </vertical-interlinear>
 </div>