<div class="container">

  <div align="center">
     <button type="button" (click)="getData()" name="load_data" id="load_data" class="btn btn-info">Load Data</button>
  </div>
  <br>

  <div class="container"  *ngIf = "display">
      <div class="row">
    
          <div class="col-sm-5">
              
            </div>
    
          <div class="col-sm-6" >
            <app-radar-spinner
            [animationDuration]="1000"
            [size]="100"
            [color]="'blue'">
          </app-radar-spinner>
          </div>
          <div class="col-sm-1">
              
            </div>
      </div>
    </div>
    <br>
    <div class="table-responsive">
    <div  *ngIf="alignmentData">
        <table datatable id="employee_table" class="table table-bordered table-striped" width="50%">
          <tr *ngFor = "let row of alignmentData;let count = index">

              <ng-container *ngFor = "let column of row.split('	');let i = index">

               <ng-container  *ngIf="count == 0">
                <th  style="font-size: 13px;text-align:left" *ngIf="i != 6 && i != 7">
                  <ng-container *ngIf="i != 8">
                  {{column | uppercase}}
                </ng-container>
                <ng-container *ngIf="i == 8">
                    BCV 
                  </ng-container>
                </th>
               </ng-container> 

              <ng-container *ngIf="count != 0 && i != 6 && i != 7 && i != 8 "> 
              <td style="font-size: 13px;">
                  {{column}}
              </td>
            </ng-container> 

            <ng-container *ngIf="count != 0 && i != 6 && i != 7 && i == 8 "> 
                <td style="font-size: 13px;">
                    <a routerLink="/app-bcv-search/{{link.substring(0,8)}}" style="display:inherit;text-decoration:underline;" target="_blank" *ngFor="let link of column.split(' ')"> {{link.substring(0,8)}} </a>
                </td>
              </ng-container> 
              </ng-container>                   
          </tr>
        </table>
    </div>
</div>

</div>
