<div style="text-align:center">
<mat-progress-bar *ngIf="display" mode="indeterminate"></mat-progress-bar>

<br>
<div class="container" *ngIf="csvData">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter Search">
  </mat-form-field>

  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
      <li class="page-item">
        <a class="page-link" (click)="getSampeTranslationData('prev')" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item"><a  id="pageInd" class="page-link">1-10</a></li>
      <li class="page-item">
        <a class="page-link" (click)="getSampeTranslationData('next')" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>

  <div class="mat-elevation-z24">
    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="S.No">
        <th mat-header-cell *matHeaderCellDef>
          <strong> S.No</strong>
        </th>
        <td mat-cell *matCellDef="let row"> {{row.position}} </td>
      </ng-container>

      <ng-container matColumnDef="English Word forms">
        <th mat-header-cell *matHeaderCellDef>
          <strong> English Word forms </strong>
        </th>
        <td mat-cell *matCellDef="let row"> {{row.English}}</td>
      </ng-container>

      <ng-container matColumnDef="Hindi Translation">
        <th mat-header-cell *matHeaderCellDef>
          <strong> Hindi Translation </strong>
        </th>
        <td mat-cell *matCellDef="let row"> {{row.Hindi}} </td>
      </ng-container>

      <ng-container matColumnDef="Definition/Facts/Description">
        <th mat-header-cell *matHeaderCellDef>
          <strong> Definition/Facts/Description </strong>
        </th>
        <td id="{{'def-' + row.position}}" style="cursor: pointer;" mat-cell *matCellDef="let row" (click)="showAll('def-' + row.position)">
          {{row.Definition.substring(0,150) + "......"}} </td>
      </ng-container>

      <ng-container matColumnDef="Strong Number">
        <th mat-header-cell *matHeaderCellDef>
          <strong> Strong Number </strong>
        </th>
        <td mat-cell *matCellDef="let row">
          <span style="display:block;" *ngFor="let link of row.StrongNumber.split(',')">{{link}}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="References">
        <th mat-header-cell *matHeaderCellDef>
          <strong> References </strong>
        </th>
        <td mat-cell *matCellDef="let row">
          <a routerLink="/app-bcv-search/{{link.substring(0,8)}}" style="display:block;text-decoration:underline;" target="_blank"
            *ngFor="let link of row.References.split(',')"> {{link.substring(0,8)}} </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="AlignedStrongs">
        <th mat-header-cell *matHeaderCellDef>
          <strong> AlignedStrongs </strong>
        </th>
        <td mat-cell *matCellDef="let row">
          <a style="display:block;" *ngFor="let link of row.AlignedStrongs">
            {{link}} </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="HindiAlignedWords">
        <th mat-header-cell fxFlex="400px" *matHeaderCellDef>
          <strong> AlignedHindi </strong>
        </th>
        <td mat-cell fxFlex="400px" *matCellDef="let row">
            <a routerLink="/ComboEditor/{{link.split('-')[1]}}/{{(link.split('-')[2])}}/{{link.split('-')[0].trim()}}" style="display:block;text-decoration:underline;" target="_blank"
            *ngFor="let link of row.HindiAlignedWords">{{link.split('-')[0].trim()}} </a>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>

    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator> -->
  </div></div>