<form>

<div class="form-group">
        <div style="width: 20%;display:inline-block;padding: 10px">
        <label>LANGUAGE</label>
        <select style="height: 32px;font-size: 13px;" [(ngModel)]="langFirstIndex" ngModel name="glLang" id="glLang" class="form-control" #glLang="ngModel" (change)="glLangChange(glLang.value)">
                <option value="0">Select</option>
                <option *ngFor="let glLang of LangArray" [value]="glLang">{{glLang}}</option>
        </select>
        </div>


      <div style="width: 20%;display:inline-block;padding: 10px">
      <label for="book">BOOK</label>
      <select style="height: 32px;font-size: 13px;" [(ngModel)]="bookFirstIndex" ngModel name="book" id="book" class="form-control" #book="ngModel" (change)="bookChange(book.value)">
          <option value="0">Select</option>
          <option *ngFor="let book of Books" [value]="book">{{book}}</option>
      </select>
      </div>
  
      <div style="width: 20%; display:inline-block;padding: 10px" >
              <label for="chapter">CHAPTER</label>
              <select style="height: 32px;font-size: 13px;" [(ngModel)]="chapterFirstIndex" ngModel name="chapter" id="chapter" class="form-control" #chapter="ngModel" (change)="chapterChange(chapter.value,book.value)">
                 <option value="0">Select</option>
                  <option *ngFor="let chapter of Chapters" [value]="chapter">{{chapter}}</option>
              </select>
      </div>
  
          <div style="width: 20%;display:inline-block;padding: 10px">
                  <label for="verse">VERSE</label>
                  <select style="height: 32px;font-size: 13px;" [(ngModel)]="verseFirstIndex" ngModel name="verse" id="verse" class="form-control" #verse="ngModel" (change)="verseChange(verse.value)">
                          <option value="0">Select</option>
                  <option *ngFor="let verse of Verses"  [value]="verse">{{verse}}</option>     
                  </select>
          </div>
  
  </div>

  <div>
          <button type="button" class="btn btn-outline-primary" style="padding: 2px 7px;margin:5px;" (click)="prevOnclick()">&laquo; Previous Verse</button>
          <button type="button" class="btn btn-outline-primary" style="padding: 2px 7px;margin:5px;" (click)="nextOnClick()">Next Verse &raquo;</button>
          <!-- <a href="#" class="btn btn-outline-primary" (click)="prevOnclick()">&laquo; Previous Verse</a> -->
          <!-- <a href="#" class="next" (click)="nextOnClick()">Next Verse &raquo;</a> -->
  </div>
  
  </form>
  <app-d3-matrix *ngIf="BCV" [BCV]="BCV" [BOOKNAME]="bookName" [Lang]="langParam" ></app-d3-matrix>