<mat-progress-bar *ngIf="display" mode="indeterminate"></mat-progress-bar>
<br>
<div style="text-align:center">
  <h1 class="h3 mb-3 font-weight-normal">
    <mat-icon matSuffix>lock</mat-icon> Reset Password</h1>
  <h6>Enter your registered email Id, we'll send you a password reset email</h6>
  <mat-card class="mat-elevation-z24 example-card">
    <form class="form-signin">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field style="width:300px !important">
              <input matInput placeholder="Email Id" [(ngModel)]="username" [formControl]="email" name="username" required>
              <mat-icon matSuffix>email</mat-icon>
              <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </td>
        </tr>
      </table>
      <button class="btn btn-lg btn-secondary btn-block" type="submit" (click)="login()">Reset Password</button>
    </form>

    <mat-divider></mat-divider>

  </mat-card>
</div>