<div style="text-align:center">
<h2 style="text-align: center">User Management for Bridge Connectivity Solutions.</h2>

<div>
  Assign User to a project <br><br>
  Make <input type="text" placeholder="Pick a User" > &nbsp;

  As  <input type="text" placeholder="Assign a role"> &nbsp;

  On  <input type="text" placeholder="Select a project"> 

   &nbsp; <input type="button" value="Approve">
</div>

<br><hr>
<div>
  Remove a User <br><br>
   <input type="text" placeholder="Pick a User" > &nbsp;

  From  <input type="text" placeholder="Select a project"> &nbsp;

  <input type="button" value="Remove">
</div>
<br><hr>
<div>
  Reset Password <br><br>
  <input type="text" placeholder="Pick a User"> &nbsp;

  <input type="button" value="Send Password reset link">
</div>
</div>