<table style="float: left;margin: 4px;">
  <tbody>
    <tr>
      <td style="height:120px valign align=left; ">
        <span style="display: block;font-size: 15px;color: #0092f2;line-height: 23px;font-family: Arial, Helvetica, Sans-serif">{{horizontalCard.hindiWord}}
        </span>
        <span style="display: block;font-size: 15px;color: #d55500;line-height: 23px;font-family: Arial, Helvetica, Sans-serif">
          {{horizontalCard.greekWords}}
        </span>
      </td>
    </tr>
  </tbody>
</table>