<div style="text-align:center;margin-top: 10px">
    <h5 *ngIf="alignArray.length> 0"> <span style="color:grey;">Alignment</span></h5>
    <br>
    <br>
    <button style="width:150px;height:100px;" *ngFor="let Alignment of alignArray;let i = index" class="btn btn-secondary border border-white" (click)="AlignmentClick(i)">{{Alignment}}</button>
    <h5 *ngIf="!(alignArray.length > 0)"><span style="color:grey;">No Assignment for Alignment</span></h5>
</div>
<br>
<br>

<mat-divider></mat-divider>

<div style="text-align:center">
    <h5 *ngIf="translateArray.length > 0"><span style="color:grey;">Translate</span></h5>
    <br>
    <br>
    <button style="width:150px;height:100px;" *ngFor="let Translate of translateArray;let i = index" class="btn btn-secondary border border-white" (click)="TranslateClick(i)">{{Translate}}</button>
    <h5 *ngIf="!(translateArray.length > 0)"><span style="color:grey;">No Assignment for translation</span></h5>
</div>
<br>
<br>

<mat-divider></mat-divider>

<div style="text-align:center">
    <h5 *ngIf="checkArray.length > 0"><span style="color:grey;">Check</span></h5>
    <br>
    <br>
    <button style="width:150px;height:100px;" *ngFor="let Check of checkArray;let i = index" class="btn btn-secondary border border-white" (click)="CheckClick(i)">{{Check}}</button>
    <h5 *ngIf="!(checkArray.length > 0)"><span style="color:grey;">No Assignment for Checking</span></h5>
</div>
<br>
<br>