<mat-progress-bar *ngIf="display" mode="indeterminate"></mat-progress-bar>
<form class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal" style="color:grey;" > Forgot Password</h1>

    <table class="example-full-width" cellspacing="0">

        <tr>
            <td>
              <mat-form-field style="width:300px !important">
                <input matInput placeholder="Temporary Password" [(ngModel)]="temppassword" name="temppassword"  [type]="hide ? 'password' : 'text'" required>
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
              </mat-form-field>
            </td>
          </tr>


      <tr>
        <td>
          <mat-form-field style="width:300px !important">
            <input matInput placeholder="Password" [(ngModel)]="password" [formControl]="passwords" [type]="hide ? 'password' : 'text'" name="password" minlength="5" required>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            <mat-error *ngIf="passwords.invalid">{{getErrorMessageForPassword()}}</mat-error>
          </mat-form-field>
        </td>
      </tr>
    </table>

    <button class="btn btn-lg btn-secondary btn-block" type="submit" (click)="forgot()">Submit</button>
  </form>