body {
  position: relative;
  margin: 0;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
  padding-bottom: 5rem;
}

.layout-main{
  padding: 30px 0;
}

.displayBook{
  display: table-cell;
}

.col-md-12{
  padding: 1%;
}
.col-md-1{
  display: flex;
}

.mywidth{
  margin-left: 1% !important;
  width: 70%;
}

.colmd3Width{
  width: 30%;
}

.bgColor{
  background-color: white;
  border: solid;
  border-width: thin;
  border-radius: 15px;
}

.tokenForm{
  margin-left: -1%;
}

.scolor{
  color: white;
}

.box {
  padding: 0 5px 0 5px;
}
.box .inner {
  background-color: #fff;
}

.refreshButton{
  border: ridge;
  border-radius: 8px;
}

.footer {
  position: fixed;
  padding: 1%; 
  bottom: 0;
  width: 100%;
  background-color: #222;
  text-align: center;
  border-color: #080808;
}

.translationWidth{
  width: 73%;
}

.disBook{ 
  display: inline-block;
  padding: 0 0 0 1%;
  color: black; 
}

.panelHead{
  margin: 0 auto;
  display: inline-block;
  width: 100%;
}

.alignCenter{  text-align: center;}

.top1{padding-bottom: 1%;}

.paddingforConcordtext{
  padding: 0 1% 1% 1%;
}

.top10{padding-top: 3%;}
.top9{padding-top: 10%; padding-bottom: 9%}
.top5{padding-top: 2%;}
.top4{padding-top: 4%;}
.top20{padding-top:  25%;}
.top3{padding-top: 10%}
.topRound{padding: 1%;}
.bottom5{padding-top: 4%; padding-bottom: 9%}
.bottom1{padding-bottom: 1%;}
.borderfordiv{border: solid;}

.bodyColorTrans{
  background-color: #F5F4AB;
  border-radius: 12px;
}

.modal-body{
  background-color: #F5F4AB;
}

.bodyBorderTrans{
  border-color: dimgray;
  border: solid;
  border-width: thin;
  border-radius: 12px;
}

.tbodyColor{
  background-color: white;
  height: 333px;
}

.bodyColor{
  background-color: #F5F4AB;
  border-radius: 16px;
}

.bodyBorder{
  border-color: dimgray;
  border-radius: 16px;
  border: solid;
  border-width: thin;
}

.divSpace{
  margin:0 14px 10px 0;
  height: 537px;
}

.divSpaceTrans{
  margin:0 14px 10px 0;
}

.divSpaceGetLang{
  margin:0 14px 10px 0;
  padding: 1%;
}

h1,h3,h4{text-align: center;}

.fonth1{
  font-size: 60px;
  color: black;
}

.fonth4{
  font-size: 27px;
  padding-right: 2%;
}

.fonth3{
  font-size: 30px;
}

th{
  text-align: center;
}
.invisible{
  display: inline;
}

.myConcord{
  height: 230px;
  background: white;
  overflow-y: scroll;
  border: solid;
  border-width: thin;
}

.firstRowDiv { margin:0px 10px 10px 0px; }
.secondRowDiv { margin:0px 10px 0px 0px; }

.msg {
  margin: auto;
  text-align: center;
}

.progress1{
  background: beige;
}

.progress2{
  color: white;
  background: green;
}

.center{
  z-index: 1000;
  margin: 300px auto;
  padding: 10px;
  width: 140px;
  border-radius: 17px;
  filter: alpha(opacity=100);
  opacity: 1;
  -moz-opacity: 1;
}

.center img{
  height: 128px;
  width: 128px;
}

.navbar {
  border-radius: 0;
}

.tableScroll{
  background: white;
  overflow-y: scroll;
  max-height: 399px;
  cursor:pointer;
}

table{
  display: inline;
}

.Notfound {
  text-align: center;
}

tbody {
  height: 375px;
  overflow: auto;
  background-color: white !important;
}

thead > tr, tbody{
  display:block;
}

th {
  background-color: lightcyan;
  border: solid;
  border-width: thin;
}

td, th {
  width: 600px;
}


tr:hover{
  background-color: #ddd;
  cursor:pointer;
  cursor:hand;
}

tr.highlight td {
  background: darkgray;
}

.textP {
  margin-left: 17px;
  margin-bottom: 17px;
  margin-top: 16px;
}

.formWidth{
  width: 20%;
  margin: 0 auto;
  margin-top: 2%;
}

.modal-title {
  margin: 0;
  line-height: 1.42857143;
  color: blue;
}

.gly-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}

mark {
  background-color: yellow;
}

input.active:valid {
  box-shadow: 0 0 0 1px green;
}

input.active:invalid {
  box-shadow: 0 0 0 1px red;
}

.error {
  color: red;
  font-size: 13px;
  margin-top: 5px;
}

.control-lable {
  font-family: sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.targetSelect{
  display: inline-flex;
  width: 19%;  
}
