.App {
	text-align: center;
}

.col-md-12 {
    width: 100%;
    background: aliceblue;
    margin: 26px 1px 1px -28px;
}

.col-md-8 {
  margin: 9% 0% 43% 17%;
  background-color: aliceblue;
  color: black;
}

.col-md-6 {
  background-color: aliceblue;
  color: black;
}

.col-lg-4 {
  color: black;
  display: -webkit-box;
  width: 40%;
}

input.active:valid {
	box-shadow: 0 0 5px 1px green;
}

input.active:invalid {
	box-shadow: 0 0 5px 1px red;
}

.error {
	color: red;
	font-size: 13px;
	margin-top: 5px;
}

.control-lable {
	font-family: sans-serif;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: -15px;
    color: white;
}

.navbar-fixed-bottom {
	text-align: center;
}


.signup-header {
  margin: 90px 100px -5px;
  font-size: 22px;
}

.signin-header {
	margin: 99px 100px -19px;
	font-size: 22px;
}

.source-header {
 	margin: 120px 77px 5px 86px;
 	font-size: 20px;
}

.source-headerCon {
  margin: 120px 77px 12px 384px;
  font-size: 20px;
}

.source-header-lan {
  margin: 137px 67px 18px 419px;
  font-size: 25px;
}

.source-header1 {
  margin: 90px 77px 5px 43px;
  font-size: 20px;
}

.invisible{
  display: none;
}
 
.navbar-nav {
  float: left;
  margin: -11px 0px 0px -8px;
}

.textarea{
  min-height: 150px;
  overflow-y: auto;
  word-wrap: inherit;
  background-color: lightcyan;
  border-color: indigo;
  font-family: monospace;
}

.modal-title {
  margin: 0;
  line-height: 1.42857143;
  color: blue;
}

.floatLeft { 
  width: 41%; 
  float: left;
  margin: 16px; 
  background: azure; 
  border: groove;
  height: 391px;
  overflow-x: scroll;
}
.floatRight {
  width: 43%; 
  float: right;
  margin: 16px; 
  background: azure; 
  border: groove;
  height: 391px;
  overflow-x: scroll;
}
.container { overflow: hidden; }

.tokenWords {
    width: 24%;
    max-width: 100%;
    margin-bottom: 21px;
    background-color: antiquewhite;
    margin: auto;
    border: 1px solid #ddd;
}

th, td {
    border: none;
    text-align: left;
    padding: 8px;
}

.Style {
  overflow-y:auto;
}

.TranslateUI{
 margin: 19px; 
}

.checkbox{
    position: relative;
    display: inline-table;
    margin-bottom: 24px;
    margin: 17px;
}

.Concord1{
  margin: 4px 1px 1px 49px;
}

.Concord2{
  margin: 1px 1px 1px 17px;
}

.ConcordButton{
  margin: 1px 1px 1px 436px;
}

.myCheck {
    width: 89%;
    height: 231px;
    overflow-y: visible;
    margin: auto;
}

.bookHeader{
  margin: 17px 1px 1px 49px;
}

.form-inline .form-control {
    display: inline-block;
    width: 143px;
    vertical-align: middle;
}

.msg{
  margin: 6px 1px 1px 389px;
  display: -webkit-inline-box;
}

.progress1{
  background: beige;
}

.progress2{
  color: white;
  background: green;
}