.App {
	text-align: center;
}

.col-md-12 {
    width: 100%;
    background: aliceblue;
    margin: -40px 1px 1px -28px;
}

.col-md-8 {
  margin: 9% 0% 43% 17%;
  background-color: aliceblue;
  color: black;
}

.col-md-6 {
  color: black;
  margin-top: -50px;
}

.col-lg-4 {
  color: black;
  display: -webkit-box;
  width: 40%;
}

input.active:valid {
	box-shadow: 0 0 5px 1px green;
}

input.active:invalid {
	box-shadow: 0 0 5px 1px red;
}

.error {
	color: red;
	font-size: 13px;
	margin-top: 5px;
}

.control-lable {
	font-family: sans-serif;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: -34px;
    color: white;
}

.navbar-fixed-bottom {
	text-align: center;
}


.signup-header {
  margin: 90px 100px -5px;
  font-size: 22px;
}

.signin-header {
	margin: 98px 1px -6px 124px;
	font-size: 22px;
}

.source-header {
 	margin: 120px 77px 5px 86px;
 	font-size: 20px;
}

.source-headerCon {
  margin: 120px 77px 12px 484px;
  font-size: 20px;
}

.source-header-lan {
  margin: 100px 67px 18px 419px;
  font-size: 25px;
}

.source-header1 {
  margin: 90px 77px 5px 43px;
  font-size: 20px;
}

.invisible{
  display: none;
}
 

.navbar-nav {
    float: left;
    margin: 1px 1px 1px 29px;
    font-size: initial;
}

.textarea{
  min-height: 150px;
  overflow-y: auto;
  word-wrap: inherit;
  background-color: lightcyan;
  border-color: indigo;
  font-family: monospace;
}

.modal-title {
  margin: 0;
  line-height: 1.42857143;
  color: blue;
}

.floatLeft { 
  width: 41%; 
  float: left;
  margin: 16px; 
  background: azure; 
  border: groove;
  height: 391px;
  overflow-x: scroll;
}
.floatRight {
  width: 43%; 
  float: right;
  margin: 16px; 
  background: azure; 
  border: groove;
  height: 391px;
  overflow-x: scroll;
}
.container { overflow: hidden; }

.tokenWords {
    width: 24%;
    max-width: 100%;
    margin-bottom: 21px;
    background-color: antiquewhite;
    margin: auto;
    border: 1px solid #ddd;
}

th, td {
    border: none;
    text-align: left;
    padding: 8px;
}

.Style {
  overflow-y:auto;
}

.TranslateUI{
 margin: 19px; 
}

.checkbox{
    position: relative;
    display: inline-table;
    margin-bottom: 24px;
    margin: 17px;
}

.Concord1{
  margin: 4px 1px 1px 49px;
}

.Concord2{
  margin: 1px 1px 1px 17px;
}

.ConcordButton{
  margin: 1px 1px 1px 505px;
}

.myCheck1 {
    width: 100%;
    height: 405px;
    margin: -11px 1px 1px -3px;
    background: lightblue;
}

.myCheck2 {
    width: 100%;
    height: 405px;
    margin: -11px 1px 1px -3px;
    background: gainsboro;
}
.bookHeader{
  margin: 0px 1px 8px -2px;
}

.form-inline .form-control {
    display: inline-block;
    width: 143px;
    vertical-align: middle;
}

.msg{
  margin: 6px 1px 1px 389px;
  display: -webkit-inline-box;
}

.progress1{
  background: beige;
}

.progress2{
  color: white;
  background: green;
}

.modal
{
  position: fixed;
  z-index: 999;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: white;
  filter: alpha(opacity=60);
  opacity: 0.6;
  -moz-opacity: 0.8;
}

.center
{
  z-index: 1000;
  margin: 300px auto;
  padding: 10px;
  width: 140px;
  border-radius: 17px;
  filter: alpha(opacity=100);
  opacity: 1;
  -moz-opacity: 1;
}

.center img
{
  height: 128px;
  width: 128px;
}

a {
    color: white;
    text-decoration: none;
}

.customLink{
  color: blue;
}

.getLangCustom{
  margin: inherit;
}

.signinCustom{
  margin: 78px 1px 1px 85px;
}