.App {
	text-align: center;
}

.col-md-8 {
   margin: 5% 0% 0% 17%;
}

input.active:valid {
	box-shadow: 0 0 5px 1px green;
}

input.active:invalid {
	box-shadow: 0 0 5px 1px red;
}

.error {
	color: red;
	font-size: 13px;
	margin-top: 5px;
}

.control-lable {
	font-family: sans-serif;
}

.navbar-fixed-bottom {
	text-align: center;
}

.signup-header {
    margin: 90px 100px -5px
}

.signin-header {
	margin: 99px 100px -19px;
}

.alert {
	padding: 8px;
	margin: 34px 1px -96px;
	color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
 }

 .source-header {
 	margin: 90px 77px 5px 86px;
 	font-size: 20px;
 }

.source-header1 {
	margin: 90px 77px 5px 43px;
	font-size: 20px;
}


.invisible{
   display: none;
}
 