/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap/dist/css/bootstrap.min.css";

body { 
    padding:20px;
    background: url(./images/bgImage.jpg) 
    
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 5px 40px;
    margin:10px;
    height: 30px;
}

a:hover {
    background-color: #ddd;
    color: black;    
}

.previous {
    background-color: green;
    color: white;
}

.next {
    background-color: green;
    color: white;
}

.round {
    border-radius: 50%;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: pink;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(85, 85, 85); 
}

.toolTip {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    display: none;
    width: 200px;
    height: auto;
    background: none repeat scroll 0 0 white;
    border: 0 none;
    border-radius: 8px 8px 8px 8px;
    box-shadow: -3px 3px 15px #888888;
    color: black;
    font: 12px sans-serif;
    padding: 5px;
    text-align: center;
    word-wrap: break-word;
}